# ── Node ──────────────────────────────────────────────────────────────────────
node_modules/

# ── Hardhat ───────────────────────────────────────────────────────────────────
cache/
artifacts/
typechain-types/

# ── Environment / secrets ─────────────────────────────────────────────────────
.env

# ── OS ────────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ── Editor ────────────────────────────────────────────────────────────────────
.vscode/
.idea/
*.swp
